label{
    color: rgb(253, 244, 244);
}

.formcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* utility class for textbox */
.inputstyle{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    margin-left: 40px;
     
}
.labelstyle{
    margin-left: 40px;
}
form{
    background-color: grey;
    padding: 10px;
    height: 150px;
    width: 350px; 
    border-radius: 5px;
 
}

select{
    margin-left: 40px;
}

form > button{
    color: rgb(245, 244, 244);
    margin-left:40px ;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(29, 133, 4);
    font-weight: bold;
    border-radius: 5px;
}

 